<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>비둘기부동산</title>
    <link rel="stylesheet" href="/css/navAndFooter.css" />
    <link rel="stylesheet" href="/css/common.css" />
    <link rel="stylesheet" href="/css/main.css" />


    <script src="/js/auth.js"></script>
  </head>
  <body>
    <header class="header">
      <h1 class="logo"><a href="/">비둘기부동산</a></h1>

      <button class="mobile-menu-btn" aria-label="메뉴 열기">
        <span></span>
        <span></span>
        <span></span>
      </button>

      <div class="nav-container">
        <nav class="gnb">
          <h2 class="hidden">메인메뉴</h2>
          <ul>
            <li><a href="/property-search">매물찾기</a></li>
            <li><a href="">분양</a></li>
            <li><a href="/community">커뮤니티</a></li>
            <li><a href="/question">문의하기</a></li>
            <li id="admin-menu" style="display: none;"><a href="/property-upload">매물 등록</a></li>
          </ul>
        </nav>
        <nav class="lnb">
          <h2 class="hidden">로컬 메뉴</h2>
          <ul>
            <li>
              <div class="login-container">
                <p id="user-info">로그인 정보를 불러오는 중...</p>
              </div>
            </li>
            
            <li><a href="" class="my-page">MyPage</a></li>
          </ul>
        </nav>
      </div>
      <script type="text/javascript" src="/js/login.js"></script>
    </header>

    <main>
      <!-- 메인배너 -->
      <section>
        <div class="hero-container">
          <div class="hero-img-wrap">
            <div class="hero-img"></div>
          </div>
          <div class="hero-text-wrap">
            <div>
              <h2>비둘기부동산</h2>
              <p>
                12년간 쌓아온 <br class="delete-el" />신뢰를 바탕으로<br />
                편안한 집을<br class="delete-el" />
                소개해드립니다.
              </p>
              <a href="/property-search" class="hero-a">집 보러가기 &rarr;</a>
            </div>
          </div>
        </div>
      </section>
      <!-- 매물 카테고리 -->
      <section class="found-product-section body-bg">
        <div class="found-product-container">
          <h2>매물 카테고리</h2>
          <div class="product-wrap">
            <ul>
              <li class="product-card">
                <a href="#">
                  <h3>원룸 투룸</h3>
                  <p>소형 가구를 위한 경제적인 원룸 & 투룸</p>
                </a>
              </li>
              <li class="product-card">
                <a href="#">
                  <h3>아파트 오피스텔</h3>
                  <p>직장인과 가족을 위한 아파트 & 오피스텔</p>
                </a>
              </li>
              <li class="product-card">
                <a href="#">
                  <h3>주택 빌라</h3>
                  <p>넓고 쾌적한 주택 & 빌라</p>
                  <br />
                </a>
              </li>
              <li class="product-card">
                <a href="#">
                  <h3>상업 토지 공장</h3>
                  <p>사업을 위한 상업용 부동산</p>
                  <br />
                </a>
              </li>
            </ul>
          </div>
        </div>
      </section>
      <!-- 광고 -->
      <section class="advertisement-section">
        <h2 class="hidden">광고</h2>
        <a href="#"
          ><div class="advertisement"><strong>광고</strong></div></a
        >
      </section>
      <!-- 분양 매물 -->
      <section class="sale-section">
        <div class="sale-container">
          <h2>분양 매물</h2>

          <div class="sale-list">
            <div class="sale-card">
              <img
                src="../images/natalie-scott--0b0k-5JaXo-unsplash.jpg"
                alt="강남 스카이 아파트"
                class="sale-img"
              />
              <div class="sale-info">
                <h3>강남 스카이 아파트</h3>
                <ul>
                  <li><strong>건물 종류:</strong> 아파트</li>
                  <li><strong>위치:</strong> 서울 강남구</li>
                  <li><strong>분양 일자:</strong> 2025-03-10</li>
                  <li><strong>입주 일자:</strong> 2027-06</li>
                  <li><strong>접수 일자:</strong> 2025-03-01 ~ 2025-03-07</li>
                </ul>
                <a href="#">자세히 보기</a>
              </div>
            </div>

            <div class="sale-card">
              <img
                src="../images/apartment.jpg"
                alt="강남 스카이 아파트"
                class="sale-img"
              />
              <div class="sale-info">
                <h3>강남 스카이 아파트</h3>
                <ul>
                  <li><strong>건물 종류:</strong> 아파트</li>
                  <li><strong>위치:</strong> 서울 강남구</li>
                  <li><strong>분양 일자:</strong> 2025-03-10</li>
                  <li><strong>입주 일자:</strong> 2027-06</li>
                  <li><strong>접수 일자:</strong> 2025-03-01 ~ 2025-03-07</li>
                </ul>
                <a href="#">자세히 보기</a>
              </div>
            </div>
          </div>
          <div class="more-btn">
            <a href="#">더 알아보기 &rarr;</a>
          </div>
        </div>
      </section>

      <!-- 찾아오시는 길 -->
      <section class="found-section">
        <h2>찾아오시는 길</h2>
        <div class="t-map-section">
          <div class="t-map-wrap">
            <iframe
              id="map"
              class="t-map"
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3164.9470074065423!2d127.02758381531446!3d37.49795137981086!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357ca15877e8f9cf%3A0xe6f1e7a4c3b85e0a!2z7ISc7Jq47Yq567OE7IucIOyEnOyauOyLnCDtlZzsmIHrj5kgMTYy!5e0!3m2!1sko!2skr!4v1707824952001!5m2!1sko!2skr"
              width="100%"
              height="400"
              style="border: 0"
              allowfullscreen=""
              loading="lazy"
            >
            </iframe>
          </div>
        </div>
      </section>
    </main>

    <footer>
      <div class="t-footer-content">
        <div class="t-link-list">
          <ul>
            <li>
              <div class="t-btn-item">
                <button
                  type="button"
                  class="v-btn v-btn--elevated v-theme--light v-btn--density-default v-btn--variant-elevated"
                >
                  <span class="v-btn__overlay"></span
                  ><span class="v-btn__underlay"></span
                  ><!----><span class="v-btn__content" data-no-activator=""
                    ><span>회사소개</span></span
                  ><!----><!---->
                </button>
              </div>
            </li>
            <li>
              <div class="t-btn-item">
                <button
                  type="button"
                  class="v-btn v-btn--elevated v-theme--light v-btn--density-default v-btn--variant-elevated"
                >
                  <span class="v-btn__overlay"></span
                  ><span class="v-btn__underlay"></span
                  ><!----><span class="v-btn__content" data-no-activator=""
                    ><span>이용약관</span></span
                  ><!----><!---->
                </button>
              </div>
            </li>
            <li>
              <div class="t-btn-item">
                <button
                  type="button"
                  class="v-btn v-btn--elevated v-theme--light v-btn--density-default v-btn--variant-elevated"
                >
                  <span class="v-btn__overlay"></span
                  ><span class="v-btn__underlay"></span
                  ><!----><span class="v-btn__content" data-no-activator=""
                    ><span>개인정보처리방침</span></span
                  ><!----><!---->
                </button>
              </div>
            </li>
            <li>
              <div class="t-btn-item">
                <button
                  type="button"
                  class="v-btn v-btn--elevated v-theme--light v-btn--density-default v-btn--variant-elevated"
                >
                  <span class="v-btn__overlay"></span
                  ><span class="v-btn__underlay"></span
                  ><!----><span class="v-btn__content" data-no-activator=""
                    ><span>위치기반서비스 이용약관</span></span
                  ><!----><!---->
                </button>
              </div>
            </li>

            <li>
              <div class="t-btn-item">
                <button
                  type="button"
                  class="v-btn v-btn--elevated v-theme--light v-btn--density-default v-btn--variant-elevated"
                >
                  <span class="v-btn__overlay"></span
                  ><span class="v-btn__underlay"></span
                  ><!----><span class="v-btn__content" data-no-activator=""
                    ><span>매물광고자율규약</span></span
                  ><!----><!---->
                </button>
              </div>
            </li>
            <li>
              <div class="t-btn-item">
                <button
                  type="button"
                  class="v-btn v-btn--elevated v-theme--light v-btn--density-default v-btn--variant-elevated"
                >
                  <span class="v-btn__overlay"></span
                  ><span class="v-btn__underlay"></span
                  ><!----><span class="v-btn__content" data-no-activator=""
                    ><span>책임한계 및 법적고지</span></span
                  ><!----><!---->
                </button>
              </div>
            </li>
            <li>
              <div class="t-btn-item">
                <button
                  type="button"
                  class="v-btn v-btn--elevated v-theme--light v-btn--density-default v-btn--variant-elevated"
                >
                  <span class="v-btn__overlay"></span
                  ><span class="v-btn__underlay"></span
                  ><!----><span class="v-btn__content" data-no-activator=""
                    ><span>제휴문의</span></span
                  ><!----><!---->
                </button>
              </div>
            </li>
          </ul>
        </div>
        <div class="t-footer-company">
          <div class="t-address">
            <p>(주) 포트폴리오 제작</p>
            <span>대표이사 : 박성윤</span
            ><span>사업자 등록번호 : 123-1234-1234</span
            ><span>통신판매업 신고 : 제2050-서울강남구-9999호</span>
            <p>주소 : 서울 강남구 강남동 강남빌딩스</p>
          </div>
          <div class="t-family-site">
            <strong class="logo">비둘기부동산</strong>
            <div>
              <div class="t-select-item">
                <div
                  class="v-input v-input--horizontal v-input--density-default v-input--readonly v-text-field v-select v-select--single"
                >
                  <!---->
                  <div class="v-input__control">
                    <div
                      class="v-field v-field--appended v-field--single-line v-field--variant-outlined v-theme--light v-locale--is-ltr"
                      role="textbox"
                      aria-haspopup="menu"
                      aria-expanded="false"
                      aria-owns="v-menu-67"
                    >
                      <div class="v-field__overlay"></div>
                      <div class="v-field__loader">
                        <div
                          class="v-progress-linear v-theme--light v-locale--is-ltr"
                          role="progressbar"
                          aria-hidden="true"
                          aria-valuemin="0"
                          aria-valuemax="100"
                          style="
                            top: 0px;
                            height: 0px;
                            --v-progress-linear-height: 2px;
                            left: 50%;
                            transform: translateX(-50%);
                          "
                        >
                          <!---->
                          <div
                            class="v-progress-linear__background"
                            style="width: 100%"
                          ></div>
                          <div class="v-progress-linear__indeterminate">
                            <div
                              class="v-progress-linear__indeterminate long"
                            ></div>
                            <div
                              class="v-progress-linear__indeterminate short"
                            ></div>
                          </div>
                          <!---->
                        </div>
                      </div>
                      <!---->

                      <div class="v-field__append-inner">
                        <!----><i
                          class="mdi-menu-down mdi v-icon notranslate v-theme--light v-icon--size-default"
                          aria-hidden="true"
                        ></i>
                      </div>
                      <div class="v-field__outline">
                        <div class="v-field__outline__start"></div>
                        <!---->
                        <div class="v-field__outline__end"></div>
                        <!---->
                      </div>
                    </div>
                  </div>
                  <!---->
                  <div class="v-input__details">
                    <div
                      class="v-messages"
                      role="alert"
                      aria-live="polite"
                      id="input-65-messages"
                    ></div>
                    <!---->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <p class="t-customer">
          <span>광고·가입문의 : 12-1234-1234</span
          ><span>고객센터 : 12-1234-1234</span
          ><span class="time"
            >평일 09:00 ~ 18:00(토·일요일, 공휴일 휴무/ 점심시간 : 12:00 ~
            13:00)</span
          >
        </p>
        <p class="t-copyright">
          &copy;Copyright @ <b>helpBudongsan</b> All Rights Reserved.
        </p>
      </div>
    </footer>

    <!-- 모달 창 -->
    <div id="modal" class="modal">
      <div class="modal-content">
        <span class="close">&times;</span>
        <h2 id="modal-title">제목</h2>
        <p id="modal-body">내용</p>
      </div>
    </div>

    <script src="/js/nav.js"></script>
  </body>
</html>
