<footer class="t-footer">
  <div class="t-footer-content">
    <div class="t-link-list">
      <ul>
        <li>
          <div class="t-btn-item">
            <button
              type="button"
              class="v-btn v-btn--elevated v-theme--light v-btn--density-default v-btn--variant-elevated"
            >
              <span class="v-btn__overlay"></span
              ><span class="v-btn__underlay"></span
              ><!----><span class="v-btn__content" data-no-activator=""
                ><span>회사소개</span></span
              ><!----><!---->
            </button>
          </div>
        </li>
        <li>
          <div class="t-btn-item">
            <button
              type="button"
              class="v-btn v-btn--elevated v-theme--light v-btn--density-default v-btn--variant-elevated"
            >
              <span class="v-btn__overlay"></span
              ><span class="v-btn__underlay"></span
              ><!----><span class="v-btn__content" data-no-activator=""
                ><span>이용약관</span></span
              ><!----><!---->
            </button>
          </div>
        </li>
        <li>
          <div class="t-btn-item">
            <button
              type="button"
              class="v-btn v-btn--elevated v-theme--light v-btn--density-default v-btn--variant-elevated"
            >
              <span class="v-btn__overlay"></span
              ><span class="v-btn__underlay"></span
              ><!----><span class="v-btn__content" data-no-activator=""
                ><span>개인정보처리방침</span></span
              ><!----><!---->
            </button>
          </div>
        </li>
        <li>
          <div class="t-btn-item">
            <button
              type="button"
              class="v-btn v-btn--elevated v-theme--light v-btn--density-default v-btn--variant-elevated"
            >
              <span class="v-btn__overlay"></span
              ><span class="v-btn__underlay"></span
              ><!----><span class="v-btn__content" data-no-activator=""
                ><span>위치기반서비스 이용약관</span></span
              ><!----><!---->
            </button>
          </div>
        </li>
        <li>
          <div class="t-btn-item">
            <button
              type="button"
              class="v-btn v-btn--elevated v-theme--light v-btn--density-default v-btn--variant-elevated"
            >
              <span class="v-btn__overlay"></span
              ><span class="v-btn__underlay"></span
              ><!----><span class="v-btn__content" data-no-activator=""
                ><span>청소년보호정책</span></span
              ><!----><!---->
            </button>
          </div>
        </li>
        <li>
          <div class="t-btn-item">
            <button
              type="button"
              class="v-btn v-btn--elevated v-theme--light v-btn--density-default v-btn--variant-elevated"
            >
              <span class="v-btn__overlay"></span
              ><span class="v-btn__underlay"></span
              ><!----><span class="v-btn__content" data-no-activator=""
                ><span>매물광고자율규약</span></span
              ><!----><!---->
            </button>
          </div>
        </li>
        <li>
          <div class="t-btn-item">
            <button
              type="button"
              class="v-btn v-btn--elevated v-theme--light v-btn--density-default v-btn--variant-elevated"
            >
              <span class="v-btn__overlay"></span
              ><span class="v-btn__underlay"></span
              ><!----><span class="v-btn__content" data-no-activator=""
                ><span>책임한계 및 법적고지</span></span
              ><!----><!---->
            </button>
          </div>
        </li>
        <li>
          <div class="t-btn-item">
            <button
              type="button"
              class="v-btn v-btn--elevated v-theme--light v-btn--density-default v-btn--variant-elevated"
            >
              <span class="v-btn__overlay"></span
              ><span class="v-btn__underlay"></span
              ><!----><span class="v-btn__content" data-no-activator=""
                ><span>제휴문의</span></span
              ><!----><!---->
            </button>
          </div>
        </li>
        <li>
          <div class="t-btn-item">
            <button
              type="button"
              class="v-btn v-btn--elevated v-theme--light v-btn--density-default v-btn--variant-elevated"
            >
              <span class="v-btn__overlay"></span
              ><span class="v-btn__underlay"></span
              ><!----><span class="v-btn__content" data-no-activator=""
                ><span>헬프라인</span></span
              ><!----><!---->
            </button>
          </div>
        </li>
      </ul>
    </div>
    <div class="t-footer-company">
      <div class="t-address">
        <p>(주) 미디어윌벼룩시장사업본부</p>
        <span>대표이사 : 장영보, 주원석</span
        ><span>사업자 등록번호 : 206-85-26551</span
        ><span>통신판매업 신고 : 제2020-서울서대문-0768호</span>
        <p>
          주소 : 서울시 서대문구 충정로 29, 동아일보 충정로사옥 12층 (충정로3가)
        </p>
      </div>
      <div class="t-family-site">
        <strong class="logo">mediawill</strong>
        <div>
          <div class="t-select-item">
            <div
              class="v-input v-input--horizontal v-input--density-default v-input--readonly v-text-field v-select v-select--single"
            >
              <!---->
              <div class="v-input__control">
                <div
                  class="v-field v-field--appended v-field--single-line v-field--variant-outlined v-theme--light v-locale--is-ltr"
                  role="textbox"
                  aria-haspopup="menu"
                  aria-expanded="false"
                  aria-owns="v-menu-67"
                >
                  <div class="v-field__overlay"></div>
                  <div class="v-field__loader">
                    <div
                      class="v-progress-linear v-theme--light v-locale--is-ltr"
                      role="progressbar"
                      aria-hidden="true"
                      aria-valuemin="0"
                      aria-valuemax="100"
                      style="
                        top: 0px;
                        height: 0px;
                        --v-progress-linear-height: 2px;
                        left: 50%;
                        transform: translateX(-50%);
                      "
                    >
                      <!---->
                      <div
                        class="v-progress-linear__background"
                        style="width: 100%"
                      ></div>
                      <div class="v-progress-linear__indeterminate">
                        <div
                          class="v-progress-linear__indeterminate long"
                        ></div>
                        <div
                          class="v-progress-linear__indeterminate short"
                        ></div>
                      </div>
                      <!---->
                    </div>
                  </div>
                  <!---->
                  <div class="v-field__field" data-no-activator="">
                    <!----><label class="v-label v-field-label" for="input-65"
                      ><!---->계열사 사이트</label
                    ><!---->
                    <div class="v-field__input" data-no-activator="">
                      <!----><!--teleport start--><!--teleport end--><input
                        readonly=""
                        size="1"
                        type="text"
                        id="input-65"
                        aria-describedby="input-65-messages"
                      />
                    </div>
                    <!---->
                  </div>
                  <!---->
                  <div class="v-field__append-inner">
                    <!----><i
                      class="mdi-menu-down mdi v-icon notranslate v-theme--light v-icon--size-default"
                      aria-hidden="true"
                    ></i>
                  </div>
                  <div class="v-field__outline">
                    <div class="v-field__outline__start"></div>
                    <!---->
                    <div class="v-field__outline__end"></div>
                    <!---->
                  </div>
                </div>
              </div>
              <!---->
              <div class="v-input__details">
                <div
                  class="v-messages"
                  role="alert"
                  aria-live="polite"
                  id="input-65-messages"
                ></div>
                <!---->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <p class="t-customer">
      <span>광고·가입문의 : 02-3407-9788</span
      ><span>고객센터 : 02-2087-7300</span
      ><span class="time"
        >평일 09:00 ~ 18:00(토·일요일, 공휴일 휴무/ 점심시간 : 12:00 ~
        13:00)</span
      >
    </p>
    <p class="t-copyright">
      ©Copyright @ <b>mediawill Co.,Ltd</b> All Rights Reserved.
    </p>
  </div>
</footer>
